* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 430px) and (max-width: 932px) {
  .container {
    position: absolute;
    width: 100%;
    height: 932px;
    background-color: #322d31;
    padding: 2px;
  }
  .header {
    position: relative;
    padding: 5px;
  }
  .header h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .header .fa-palette {
    color: #fff;
    font-size: 22px;
    padding-top: 7px;
    margin-right: 5px;
  }
  .clear {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #divider {
    width: 100%;
    transform: translateY(5px);
    margin-top: 5px;
    height: 1px;
    background-color: #fff;
  }
  #tittle {
    text-align: left;
    font-size: 25px;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .section h3 {
    font-weight: lighter;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #322d31;
    padding-top: 5px;
    margin-left: 5px;
  }
  .section #line {
    height: 1px;
    width: 405px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #322d31;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .challenge {
    background-color: #fff;
    margin-top: 5px;
    border-radius: 10px;
    height: 780px;
    width: 415px;
    justify-content: center;
    align-items: center;
  }
  .writeTask {
    margin-top: 10px;
    width: 415px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
  .writeTask input {
    height: 45px;
    width: 265px;
    background: none;
    border: solid 1px #fff;
    border-radius: 5px;
    padding-left: 5px;
    color: #fff;
  }
  .writeTask .but-plus {
    cursor: pointer;
  }
  .writeTask button {
    width: 45px;
    font-size: 32px;
    background: none;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
  }
  #listOfTask {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }
  #listOfTask .list {
    font-size: 18px;
    margin-top: 5px;
    padding-left: 2px;
    font-family: "Briem Hand", cursive;
    font-weight: 200;
    overflow: scroll;
    text-transform: capitalize;
  }
  .done {
    text-decoration: line-through;
    color: green;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    right: 488px;
    top: 20px;
    position: absolute;
    width: 350px;
    background-color: #322d31;
    padding: 2px;
    border-radius: 10px;
    height: 100%;
    max-height: 520px;
  }
  .header {
    position: relative;
    height: 50px;
    padding: 20px;
    padding-top: 10px;
  }
  .clear {
    padding: 0 10px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: right;
  }
  .clear i {
    padding-left: 10px;
  }
  #palette {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  #palette:hover {
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    background-image: linear-gradient(to right, #ff0a6c 40%, #0040ff);
    transition: 0.3s;
  }
  #tittle {
    position: absolute;
    font-weight: 200;
    text-align: left;
    font-size: 25px;
  }
  #divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  #line {
    height: 1px;
    width: 290px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #322d31;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .challenge {
    background-color: #fff;
    margin-top: 5px;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    width: 310px;
  }
  .challenge h3 {
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #322d31;
    padding-top: 5px;
    margin-left: 5px;
  }
  .writeTask {
    margin-top: 10px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }
  .writeTask input {
    height: 35px;
    width: 270px;
    background: none;
    border: solid 1px #fff;
    border-radius: 5px;
    padding-left: 5px;
    color: #fff;
  }
  .writeTask button {
    width: 30px;
    font-size: 22px;
    background: none;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
  }
  .writeTask button:hover {
    color: #ff0000;
    font-size: 26px;
    transition: 0.2s;
  }
  #listOfTask {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }
  #listOfTask .list {
    font-size: 18px;
    margin-top: 5px;
    padding-left: 2px;
    font-family: "Briem Hand", cursive;
    font-weight: 200;
    overflow: scroll;
    text-transform: capitalize;
  }
  .done {
    text-decoration: line-through;
    color: green;
  }
  .addTask {
    font-family: "Briem Hand", cursive;
  }
}/*# sourceMappingURL=style.css.map */